*{
    margin: 0;
}

.banner{
    width: 100%;
    height: 85vh;
    background-image: url(https://www.lifesavvy.com/p/uploads/2020/01/deb2e2c6.jpg?width=1200);
    background-size: cover;
    position: relative;
}
.banner::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 85vh;
    background: rgb(18,18,18);
    background: radial-gradient(circle, rgba(0, 0, 0, 0.596) 30%, rgb(3, 3, 3) 100%);
}

.navigation > img{
    width: 200px;
    margin-left: 40px;
}
.navigation{
    position: relative;
    width: 100%;
    height: 100px;
    position: absolute;
    top: 10px;
    z-index: 40;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.navigation > .nav_btn{
    margin-right: 40px;
}

.lang{
    margin-right: 30px;
    padding: 10px 24px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    font-size: 16px;
    border-radius: 3px;
    cursor: pointer;
}

.sign{
    padding: 10px 24px;
    background-color: #E50F13;
    border:none;
    border-radius: 3px;
    font-size: 1rem;
    color: white;
    cursor: pointer;
}

.banner_text{
    width: 100%;
    height: 85vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 45;
}

.title{
    width: 50%;
    font-weight: 600;
    text-align: center;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
}

.title_des{
    font-size: 28px;
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
input{
    width: 300px;
    height: 40px;
    border: none;
    outline: none;
    text-indent: 10px;
}
.searchbar{
    
    display: flex;
    align-items: center;
}
.searchbar > button{
    height: 42px;
    width: 200px;
    font-size: 25px;
    border: none;
    color: #fff;
    background-color: #E50F13;
}
